.input {
  display: inline-block;
}
.float-left {
  display: inline-block;
  width: 50%;
}

.float-right {
  display: inline-block;
  width: 50%;
}

.float-tastic {
  display: flex;
}

.hidden_project_form {
  display: none;
}
/*div  {
  background-color: skyblue;
}
*/
