<% if current_user %>
  <div class='create_project_button'>
    <p></p>
    <form method='get' action='/projects/new'>
      <input type='submit' value='create a new project'>
    </form>
  </div>
<% end %>

