<% if current_user %>
  <div class='create_project_button'>
    <p></p>
    <form method='get' action='/projects/new'>
      <button><input type='submit' value='create a new project'></button>
    </form>
  </div>
<% end %>

