<a href="projects/<%= project.id %>" ><%= project.name %></a>

<!-- The partial call we would be using to access this specific page from the _project_index.erb page -->
<%= erb :'project/_project_listing', layout: false, locals:{project: proje} %>
