<div>
  <h3>Create a new project</h3>
  <form class='create_project_form' method='post' action='/projects'>
    <br><input type='text' name='name' placeholder='name' required>
    <br><input type='text' name='timeframe' placeholder='timeframe'>
    <br><input type='text' name='finances' placeholder='finances'>
    <br><input type='text' name='description' placeholder='description'>
    <br><input type='text' name='needs' placeholder='project needs'>
    <br><input type='submit' value='create project' >
  </form>
</div>
