<div class='project_index index'>
  <h1>Existing Projects</h1>
  <% if @projects %>
    <% @projects.each do |project| %>
      <div>
        <a href="projects/<%= project.id %>" ><%= project.name %></a>
      </div>
    <% end %>
  <% end %>
</div>


