<div class='user_show'>

  <div class='user_information'>
    <p> Name: <%= @user.name %> </p>
    <p> Email: <%= @user.email %> </p>
  </div>


  <div class='user_projects index'>
    <h3>Current collaborations:</h3>
    <% if @collaborations %>
      <% @collaborations.each do |project| %>
        <a href="/projects/<%= project.id %>"><br><%= project.name %></a>
      <% end %>
    <% end %>
  </div>

</div>
