
<!-- from home.erb -->
  <div class="float-tastic">
    <div class="hidden_project_form float-left hidden">
      <%= erb :"project/_project_new" %>
    </div>
    <div class="hidden_skill_form float-right hidden">
      <%= erb :"user/_user_skill_edit" %>
    </div>
  </div>
